
<%= render 'shared/header' %>

<!--
<% flash.each do |key, value| %>
  <div class="flash <%= key %>">
    <%= value %>
  </div>
<% end %>
-->
<div class='main'>
<h1>Meganes</h1>
<div >
<%= link_to 'create', new_megane_path, class:"create-btn"%>
</div>
<table border="1">
  <tr>
    <th>title</th>
    <th>name</th>
    <th>content</th>
  </tr>
  <% @meganes.each do |megane| %>
    <tr>
      <td><%= megane.title %></td>
      <td><%= megane.name %></td>
      <td><%= megane.content %></td>
      <td><%= link_to '詳細', megane_path(megane) %></td>
      <td><%= link_to '削除', megane_path(megane), data: { turbo_method: 'delete', turbo_confirm: '本当に削除しますか？' } %></td>
    </tr>
  <% end %>
</table>
</div>

<div>
<%= link_to 'CSVエクスポート', export_csv_exports_path(format: :csv), class: 'btn btn-primary' %>
</div>
<%= link_to 'お問い合わせ',new_connect_path %>