<%= render 'shared/header' %>

<h1> Show </h1>
<table border="1">
  <tr>
    <th>title</th>
    <th>name</th>
    <th>content</th>
  </tr>
  <tr>
    <td><%= @megane.title %></td>
    <td><%= @megane.name %></td>
    <td><%= @megane.content %></td>
 </tr>


 </table>
 <%=link_to "back" ,meganes_path %>